@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fredoka:wdth,wght@97.9,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Fredoka:wdth,wght@97.9,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel";
    box-sizing: border-box;
}

body {
    background-image: url("images/background-oligarca-extended.jpg");
    background-color: #c0bda1;
    background-blend-mode: multiply;
    background-size: contain;       /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: repeat; /* Evita que se repita */
    background-attachment: fixed; /* Fija la imagen para efecto "parallax" */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-weight: 800;
    padding-top: 30px;
    line-height: 0.8;
    justify-content: center;
}

.adivina {
    font-size: 2.5rem;
}

.los {
    font-size: 2rem;
}

.presidentes, .argentinos {
    font-size: 3rem;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
}

.iniciar-juego-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1E6BA8;
    height: 65px;
    width: 250px;
    border-radius: 30px;
    border: 2px solid #1E6BA8;
    font-size: 1.2rem;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.iniciar-juego-button:hover {
    border-color: #FFD700;
    color: #FFD700;
    background-color: #1E6BA8; /* Azul más oscuro */
    transition: all 0.3s ease; /* Animación suave */
}


.rules-section {
    display: flex;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.rules-container {
    display: flex;
    align-items: baseline;
}

.rule-container:nth-child(1) {
    border-right: 1px solid white;
}

svg {
    fill: white;
    height: 80px;
    width: 80px;
}

.rule-container {
    display: flex;
    gap: 35px;
    padding: 0 50px;
}

.rule-text-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

h3 {
    color: white;
    font-weight: 750;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    color: white
}

.tabla-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

table {
    width: minmax(700px, 100%);
    color: white;
    font-weight: bold;
    align-self: center;
    background-color: rgb(10, 34, 53);
    border-radius: 30px;
    border: 6px rgb(127, 190, 241) solid;
}

th, td {
    padding: 0.4rem;
}

.imagen-presidente-desconocido-container {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.bernardino {
    gap: 1rem;
    display: flex;
    align-items: center;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 500px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 1rem;
}

@media (max-width: 768px) {
  tbody {
    grid-template-columns: 1fr; /* una sola columna */
  }
}

tr {
    display: flex;
    border-radius: 20px;
    align-items: center;
}

td {
    border: none;
}

.nombre-presidente-cell {
    border: 1px solid white;
    height: 35%;
    display: flex;
    align-items: center;
    min-width: 300px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#contador-presidentes {
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    min-width: 80px; /* para que no se mueva */
    text-align: right;
}

.pluma-image-container {
    border-radius: 50%;
    overflow: hidden;
    height: 60px;
    width: 60px;
}

.pluma-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

input {
    height: 70px;
    width: 400px;
    border-radius: 30px;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.tabla tbody tr {
    background-color: none; /* Ejemplo: un gris muy claro. Puedes usar 'white' si lo prefieres */
    transition: background-color 0.5s ease-in-out; /* ¡IMPORTANTE! Añade la transición aquí también. */
}

/* Estilo para la animación de acierto */
.acierto-animacion {
    background-color: #64dd17 !important; /* Verde brillante */
}